<h1>You need to sign in to continue</h1>
<p>
  <a href="/sign_in" class="pure-button pure-button-primary">
    Sign in
  </a>
  or
  <a href='/users/new' class="pure-button pure-button-primary">
    Register
  </a>
</p>

