{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "rules": {
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "semi": ["error", "never"],
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "jsx-a11y/anchor-is-valid": 0
  },
  "globals": {
    "document": true,
    "URL": true,
    "window": true,
    "fetch": true,
    "navigator": true,
    "Element": true
  }
}
