.story {
  height: auto;
  width: 300px;
  border-radius: 4px;
  float: left;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
  transform: translateZ(0);
  transition: all .3s ease-out;
  transition-delay: .1s;
  border-radius: 2px;
  padding: 15px;
  margin-bottom: 20px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.story:hover {
  box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
  transform: translate(0, -4px);
}

.cell {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #777777;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 60px -10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
}

.default {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 20px;
}

.default h3 {
  color: #000;
}
.default p {
  color: #333;
  font-weight: normal
}

.cell:hover {
  box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.3);
}

.shuffle {
  position: absolute;
  top: 40px;
  left: 40px;
  padding: 0px 20px 0px 20px;
  width: auto;
  height: auto;
  background: white;
  border: solid 2px #ffaad4;
  border-radius: 7px;
  color: #ffaad4;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  line-height: 45px;
}

.shuffle:hover {
  background: #f9f9f9;
}

.details {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #ffffffa0;
  color: white;
  padding: 40px;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.details h1 {
  color: black;
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  max-width: 250px;
}

.details p {
  color: #333;
  text-shadow: none;
  margin: 0;
  padding-top: 15px;
}

.circle {
  position: absolute;
  top: calc(50% - 140px);
  left: calc(50% - 140px);
  width: 280px;
  height: 280px;
  border-radius: 50%;
  box-shadow: 0px 20px 60px -10px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  cursor: pointer;
  user-select: none;
  top: 40px;
  right: 40px;
  font-size: 26px;
  color: #000;
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 30px 70px 30px 70px;
  height: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.grid {
  flex: 1;
  height: 100vh !important;
}

.ant-btn-primary {
  background-color: #ca6a9a !important;
  border-color: #ca6a9a !important;
}

.bottom-gradient {
  background: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,.95),#fff);
  bottom: 0;
  display: block;
  padding-top: 30px;
  position: absolute;
  width: 100%
}

