.story {
  height: auto;
  width: 300px;
  border-radius: 4px;
  float: left;
  background-color: #ffffff;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
  transform: translateZ(0);
  transition: all .3s ease-out;
  transition-delay: .1s;
  border-radius: 2px;
  padding: 15px;
  margin-bottom: 20px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.story:hover {
  box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
  transform: translate(0, -4px);
}
