<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= favicon %>
  </head>
  <body>
    <%= yield %>

    <% if Hanami.env?(:development) %>
      <script src="<%= webpack_asset_path('admin') %>"></script>
    <% end %>
  </body>
</html>
