<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= favicon %>
  </head>
  <body>
    <% if current_user %>
      <%= render partial: 'shared/navbar' %>
    <% end %>

    <%= yield %>

    <% if Hanami.env?(:development) %>
      <script src="<%= webpack_asset_path('admin') %>"></script>
    <% end %>
  </body>
</html>
